/*
	Some animation styling
 */
[data-jl-animate] {
  transition: all .6s ease;
  opacity: 0;
}

[data-jl-animate].init {
  transition-duration: 0s;
}

[data-jl-animate=slideleft] {
  transform: translateX(-100%);
}

[data-jl-animate=slideright] {
  transform: translateX(100%);
}

[data-jl-animate=slideup] {
  transform: translateY(100%);
}

[data-jl-animate].show {
  opacity: 1;
}

[data-jl-animate=slideleft].show, [data-jl-animate=slideright].show {
  transform: translateX(0);
}

[data-jl-animate=slideup].show {
  transform: translateY(0);
}



/*
	Some other styling
 */
* {
	font-family: Helvetice, Arial, sans-serif;
	-webkit-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #004279;
	color: #004279;
	font-size: 32px;
	font-weight: 600;
	margin: 0;
	padding: 20px;
	text-align: center;
	text-shadow: 2px 2px 0 rgba(255, 255, 255, .5);
}

small {
	font-size: .6em;
}

article {
	background-image: url('http://lorempixel.com/500/200/technics/');
	height: 200px;
	margin: 30px auto;
	position: relative;
	width: 500px;
}

article::after {
	background-image: linear-gradient(rgba(255, 255, 255, .4), rgba(0, 0, 50, .7));
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}


